#root {
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 9px 10px !important;
}
.css-1j1rpgp {
  width: 93% !important;
}

@media (max-width: 550px) {
  .css-1hqxn01 {
    width: 100vw !important;
  }
  .css-zjhuaj-MuiGrid-root {
    flex-direction: column !important;
  }
}
